body{
    margin: 0;
    font-family: 'Rock Salt', cursive;
    background-color: #5BC0F8;

}
h1{
    font-size: 48px;
}
p{
    font-size: 24px;
}
div{
    margin-top: 15%;
    text-align: center;
}